@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    height: 100vh;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.card{
    width: 320px;
    height: 400px;
    background-color: #272d40;
    border-radius: 15px;
    color: #ffff;
    font-size: 25px;
    position: relative;
    padding: 20px;
}


.heart-icon, .cart-icon{
    position: absolute;
    cursor: pointer;
} 

.cart-icon{
    right: 20px;
}

.active-icon{
    color: #3caf44;
}

.item-image{
    width: 250px;
    transition: 0.5s;
}
.item-image img{
    width: 100%;
}

.card:hover .item-image{
    transform: translateY(-70px) rotate(-20deg);
}

.card:hover .icon{
    z-index: 1;
}

.item-name, .item-price{
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
}

.item-name{
    font-size: 24px;
    color: #4daf54;
}

.item-price{
    font-size: 26px;
}

.card:hover .item-name,
.card:hover .item-price{
    transform: translate(-45px,-60px);
}

.card:hover .item-price{
    transform: translate(-112px,-60px);
}

.item-color, .item-size{
    margin-top: 56px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.item-color h3, .item-size h3{
    font-weight: 200;
    min-width: 55px;
}

.item-size span{
    color: #000;
    background-color: #dadada;
    padding: 2px 10px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}

.item-size span:hover{
    box-shadow: 0px 5px 15px #3caf44;
}

.active-size{
    box-shadow: 0px 5px 15px #3caf44;
}

.item-color{
    margin: 12px 0;
}

.item-color span{
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
}

.active-color{
    border: 2px double;
}

.item-color .red{
    background-color: red;
}
.item-color .blue{
    background-color: blue;
}
.item-color .green{
    background-color: #4daf54;
}

.card-button button{
    border: none;
    outline: none;
    background-color: #4daf54;
    color: #ffff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.item-color, .item-size,
.card-button{
    visibility: hidden;
    opacity: 0.4;
    transition: 0.3s linear;
}

.card:hover .item-size{
    margin-top: -20px;
}

.card:hover .item-color,
.card:hover .item-size,
.card:hover .card-button{
    opacity: 1;
    visibility: visible;
}

.buy-btn:hover,
.add-btn:hover{
    transform: scale(90%);
}